.card{
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 2px black;
}
.card > img{
    width: 100%;
    padding: 15px;
    border-radius: 30px;
}