@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

.learning{
    display: inline-block;
    margin-left: 24px;
    padding: 5px;
    background-color: hsl(47, 88%, 63%);
    font-family: "Outfit", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: hsl(0, 0%, 7%);
}
p{
    font-family: "Outfit", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    margin-left: 24px;
    margin-top: 8px;
    color: hsl(0, 0%, 7%);
}
h3{
    font-family: "Outfit", serif;
    font-weight: 800;
    font-style: normal;
    margin-left: 24px;
    margin-top: 8px;
    color: hsl(0, 0%, 7%);
}
.para{
    font-family: "Outfit", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    margin-left: 24px;
    margin-top: 8px;
    color: hsl(0, 0%, 42%);
}
.author{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.author > img {
  height: 32px;
  margin-left: 24px;
}

.author > span {
    font-family: "Outfit", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
}